@-webkit-keyframes blink {
  from, 25%, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes blink {
  from, 25%, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  to {
    transform: rotate(1440deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  to {
    transform: rotate(1440deg);
  }
}
@-webkit-keyframes bounce {
  from, 6.66%, 17.66%, 33.33% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  13.33%, 14.33% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  23.33% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  26.66% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  30% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes bounce {
  from, 6.66%, 17.66%, 33.33% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  13.33%, 14.33% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  23.33% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  26.66% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }
  30% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
body {
  margin: 0px;
  overflow-x: hidden;
  padding: 0px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(30, 30, 30);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
}
body::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
body input, body h1, body h3, body a, body span {
  color: rgb(90, 90, 90);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear-button {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
}
.clear-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#app {
  background-color: rgb(30, 30, 30);
}
#app.logged-out #app-info {
  margin-left: 40px;
  opacity: 1;
  transform: translateX(0%);
}
#app.logged-out #app-background {
  cursor: pointer;
}
#app.logged-out #sign-in-button-wrapper {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -40px);
}
#app.logging-in #app-pin-wrapper, #app.verifying-log-in #app-pin-wrapper, #app.log-in-error #app-pin-wrapper {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%) scale(1);
}
#app.verifying-log-in #app-loading-icon {
  opacity: 1;
  transform: translate(-50%, -50%);
}
#app.log-in-error #app-pin-wrapper #app-pin .app-pin-digit {
  background-color: rgba(239, 83, 80, 0.05);
  border-color: rgba(239, 83, 80, 0.5);
}
#app.logged-in #app-menu {
  height: auto;
  overflow: initial;
}/*# sourceMappingURL=style.css.map */